<%- include('../partials/_navbar.ejs', {title: movie.title }) %>

  <body>
    <div>
      <h1>
        <%= movie.title %>
      </h1>
      <img src="<%= movie.posterUrl %>" alt="Movie Poster" class="movie-poster">
      <p><strong>Release Year:</strong>
        <%= movie.year %>
      </p>
      <p><strong>Genre:</strong>
        <%= movie.genre %>
      </p>
      <p><strong>Added By:</strong>
        <%= addByUser.username %>
      </p>
      <p><strong>Cast:</strong>
        <% if (movie.cast.length > 0) { %>
          <ul>
            <% movie.cast.forEach(actor=> { %>
              <a href="/actors/<%= actor._id %>">
                <li>
                  <img src="<%= actor.photoUrl %>" alt="<%= actor.name %>">
                  <%= actor.name %>
                </li>
              </a>
              <% }); %>
          </ul>
          <% } else { %>
            <p>No cast information available.</p>
            <% } %>
      </p>
      <% if (user) { %>
        <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Movie</button>
        </form>
        <a href="/movies/<%= movie._id %>/edit">Edit Movie</a>
        <% } %>
    </div>

  </body>

  </html>